.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Navigation-Bar {
  display: flex;
  background-color: #282c34;
  color: white;
  justify-content: flex-end;
}

.Navigation-Bar > ul {
  margin: 0px;
  text-align: right;
  list-style-type: none;
  padding: 5px;
  justify-content: space-evenly;
}

.Navigation-Bar > ul > li  {
  display: inline-block;
}

.Navigation-Bar > ul > li > a {
  text-decoration: none;
  padding: 8px;
  color:  white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}